{{#md-card-collapsible class="answers"}}
  {{#md-collapsible title=answer.title}}
  By: {{answer.author}}<br>
  {{answer.posted}}
  {{answer-voting answer=answer vote="vote"}}
  <a class="btn" {{action 'deleteAnswer' answer}}>delete</a>
  {{/md-collapsible}}
{{/md-card-collapsible}}
