{{#if addNewAnswer}}
  <h2>YEAH REALLY I KNOW THESE THINGS!</h2>
    <div>
      <form class="answer">
        {{md-input value=title label="I have the answer" class="col s5 validate=true"}}
      {{md-btn text="Save" action="save1"}}
      </form>
    </div>
{{else}}
  <a class="btn" {{action 'answerFormShow'}}>Hey hey hey I know these things!!</a>
{{/if}}
