<div class="row question-details">
  <div class="q-display">
    <h3>{{question.title}}</h3>
    <h4 class="q-author">{{question.author}}</h4>
  </div>
  <div class="q-notes">
    <h5>{{question.notes}}</h5>
  </div>
  <div class="answers">
    <hr>
    <h5>Answers to the question</h5>
    {{#each question.answers as |answer|}}
    {{answer-tile answer=answer vote="vote" deleteAnswer='deleteAnswer'}}
    {{/each}}
  </div>
  <hr>
</div>
