{{#md-card id="question-card" class="question-card"}}
  {{#md-card-content}}
  {{#link-to 'question' question.id}}
  <h5>{{question.question}}</h5>{{/link-to}}
  <p>Asked by: {{question.author}}</p>
  <button class="btn waves waves-blue" {{action 'delete' question}}>Delete</button>
  {{/md-card-content}}
{{/md-card}}
