@import 'materialize';
@import 'ember-cli-materialize';

html, body {
  background: transparent;
  width: 100%;
  height: 100%;
}

h1, h2, h3,
h4, h5, h6, img {
    @extend %headings !optional;
}

.about-container > %headings {
  margin-top: 500px;

}

.about-container {

}

.about {
  // padding-left: 30%;
  // padding-right: 30%;
  // text-align: center;
  // border-radius: 10px;
  // backface-visibility: hidden;
  // margin-top: 0px;
  // position: relative;
  // z-index: 3;
  // color: white;
  // text-shadow: 2px 2px 2px black;
  background-color: transparent;

}

.section {
  background: radial-gradient(#C7DEA0, #CDE0AA, rgba(255,0,0,0));
}

h1 {
  color: #93C54B;
  text-shadow: 2px 2px 1px black;
}

.nav-wrapper {
  background-color: #93c54b;
  padding-bottom: 0px;
  position: fixed;
  top: 0px;
  z-index: 10;
  background: linear-gradient(#93c54b, #FAF5F2);
  border: 0px;
}

.brand-logo img {
  padding-top: 4px;
  padding-right: 2px;
  max-height: 60px;
}

.page-wrapper {
  background: linear-gradient(#FAF5F2, #93c54b);
  width: 100%;
  // top: 60px;
  // display: flex;
  // position: absolute;
}

.top-content {
  width: 100%;
  z-index: 3;
  flex-flow: column wrap;
  align-items: flex-end;
  display: flex;
  align-items: right;
  justify-content: center;
  position: fixed;
  img {
    width: 224px;
  }
  .profile-name {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .btn {
    margin: 5px;
  }

}

.row {
  margin-bottom: 0px;

}

#newquestion {
  max-width: 100%;
}
.ask {

}
.questions {
  position:relative;
  z-index: 2;
  top: 125px;
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  li {
    opacity: 0;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid green;
    width: 300px;
    transform: translateX(0px);
    opacity: 1;
  }
}

.question-details {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.question-man {
  border-width: 2px;
  border-style: solid;
}

.votes img {
  height: 30px;
  cursor: pointer;
}

.btn, .btn-large {
  background-color: #93c54b;

}
.btn:hover, .btn-large:hover {
  background-color: #b8f75e;
}

a {
  color: #85ad4d;
  text-shadow: 1px 1px 1px black;
}

a:hover {
  color: #87c62c
}

// label underline color
.input-field {
  input {
    width: 900px;
  }
  label {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
  }
  input[type=text]:focus + label {
    color: #b8f75e;
    text-align: center;
    font-size: +1.2em;
    text-shadow: 1px 1px 1px black;
    // border-color: #b8f75e;
  }
}

.footer-wrapper {
  height: 150px;
  position: relative;
  bottom: 0px;
  z-index: 4;
  background: linear-gradient(#93c54b, #FAF5F2);
  p {
    padding-top: 40px;
    padding-right: 20px;
    font-size: 1.2em;
    text-align: right;
  }
}
