

body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.navbar {
  position: relative;
  width: 100%;
}

.navbar img {
  position: absolute;
  top: 0;
}

.collapse {
  position: absolute;
  top: auto;
  left: 110px;
  padding-left: 200px;
}

.main-content {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

.question-details {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.question-man {
  border-width: 2px;
  border-style: solid;
}

.about {
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  border-radius: 10px;
}

.votes img {
  height: 30px;
  cursor: pointer;
}
