<div class="top-content">
  <h4>{{new-question save2="saveQuestion"}}</h4>
  {{sign-up signUp="signUp"}}
</div>
<h3 class="center">The Questions</h3>
<hr>
<div class="questions">
  {{#each model.questions as |question|}}
  {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</div>
