<div class="main-content">
  <img src="/assets/images/asky.png" alt="asky the question mark" class="asky">
  <h1>Asky</h1>
  <h2>Ask away!</h2>
  {{new-question save2="saveQuestion"}}
  <br>
  <hr>
  <h3>Questions Posited</h3>
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
    {{/each}}
  </ul>
</div>
