<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right"><img src="/assets/images/asky.png"></a>
    <ul id="nav-mobile" class="left hide-on-down">
      <li><a href="#">Home</a></li>
      <li><a href="about">About Asky</a></li>
    </ul>
  </div>
</nav>
