<div class="question-details">
{{question-details question=model update='update' destroyQuestion='destroyQuestion' destroyAnswer='destroyAnswer' answer=answer vote="vote"}}

{{new-answer saveAnswer2="saveAnswer3" question=model session=session}}
{{update-question update="update" question=model currentUser=currentUser}}

{{delete-question question=question session=session}}
</div>
