<div class="question-details">
{{question-details question=model update='update' destroyQuestion='destroyQuestion' vote="vote"}}

{{new-answer saveAnswer2="saveAnswer3" question=model}}
{{update-question question=question update="update"}}
<a class="btn" {{action 'delete' question}}>Delete Question</a>
</div>
