{{question-details question=model update='update' destroyQuestion='destroyQuestion' vote="vote"}}
<div class="question-details">
<h4>Hey hey hey I know these things!!</h4>
{{new-answer saveAnswer2="saveAnswer3" question=model}}
</div>
