<p>Welcome {{model.userprofile.userName}}</p>
{{user-profile updateUserName="updateUserName" userprofile=model.userprofile}}
<div class="col sm6">
  <h5>{{new-question save2="saveQuestion" userprofile=model.userprofile}}</h5>
</div>
<a class="btn" onclick="Materialize.showStaggeredList('#questions')">The Questions</a>
<hr>
<ul>
  <div class="questions" id="questions">
    {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion" userprofile=model.userprofile}}
    {{/each}}
  </div>
</ul>
